/* css variables */
:root{
  --page-bg: #140330;
  --text: #e7e1a6;
  --color-thorsten: #90ff74;
  --color-georgie: #ff5789
}

body{
  background-color: var(--page-bg);
  color: var(--text);
  font-family: Tahoma;
}

.centered{
  text-align: center;
}

.versus{
  margin: 1rem 0;
}

.team{
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.daring-durians{
  border: 6px double var(--color-thorsten);
}

.rambutan-rampage{
  border: 6px double var(--color-georgie);
}
